<!doctype html>
<html>
    <head>
        <title>Online Mahjong</title>
        <link rel="icon" type="image/png" href="/favicon.png"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
        <!-- <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet"> -->
        <link href="https://fonts.googleapis.com/css?family=Material+Icons" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
        <link rel="stylesheet" href="main.css">

    </head>
    <body>
        <div id="app" v-cloak>
            <v-app>
                <v-main>
                    <v-app-bar
                        color="deep-purple" dark>

                        <v-app-bar-nav-icon @click="navDrawer = true"></v-app-bar-nav-icon>
                        <img src="res/bamboo_1.png" @click="navDrawer = true">
                        <v-toolbar-title>Online Mahjong</v-toolbar-title>
                        <v-row justify="end">
                            <v-icon v-if=!signedIn>
                                person_outline
                            </v-icon>
                            <span v-if="signedIn">
                                <v-menu offset-y>
                                    <template v-slot:activator="{ on, attrs }">
                                      <div
                                        class="height100"
                                        color="primary"
                                        dark
                                        v-bind="attrs"
                                        v-on="on"

                                      >
                                        <v-icon>
                                            person
                                        </v-icon>
                                        <span>
                                            {{username}}
                                        </span>
                                        <v-icon>
                                            expand_more
                                        </v-icon>
                                    </div>

                                    </template>
                                    <v-list>
                                      <v-list-item @click="signOut()">
                                        <v-list-item-title>Sign Out</v-list-item-title>
                                      </v-list-item>
                                    </v-list>
                                  </v-menu>
                            </span>
                        </v-row>
                    </v-app-bar>

                    <v-navigation-drawer
                    v-model="navDrawer"
                    absolute
                    temporary
                    >
                        <v-list nav dense>
                            <v-list-item-group
                                v-model="group"
                                active-class="deep-purple--text text--accent-4"
                            >
                                <v-list-item>
                                <v-list-item-icon>
                                    <v-icon>mdi-home</v-icon>
                                </v-list-item-icon>
                                <v-list-item-title>Home</v-list-item-title>
                                </v-list-item>
                    
                                <v-list-item>
                                <v-list-item-icon>
                                    <v-icon>mdi-account</v-icon>
                                </v-list-item-icon>
                                <v-list-item-title>Account</v-list-item-title>
                                </v-list-item>
                                <v-list-item>
                                    <v-switch
                                        v-model="autopass"
                                        inset
                                        @change="savePreference('autopass', autopass)"
                                        :label="`Auto Pass`"
                                        >
                                    </v-switch>
                                </v-list-item>
                            </v-list-item-group>
                        </v-list>
                    </v-navigation-drawer>

                    <div v-if="loadingData && !errored">
                        Loading...
                    </div>
                    <div v-if="errored">
                        Something went wrong, please try again.
                    </div>
                    <div v-if="!loadingData && !errored">
                        <v-form v-if="!signedIn">
                            <v-container fluid class="signin-container">
                                <!-- <div class="signin-title">
                                    <img src="res/bamboo_1.png"><span>Online Mahjong</span>
                                </div> -->
                                <v-row>
                                    <v-col>
                                        <div >
                                            <v-text-field label="Username"
                                                v-model="promptUsername" outlined>
                                            </v-text-field>
                                        </div>
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col>
                                        
                                            <v-text-field
                                            v-model="password"
                                            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                    
                                            :type="showPassword ? 'text' : 'password'"
                                    
                                            label="Password"
                                            hint="At least 8 characters"
                                            counter
                                            @click:append="showPassword = !showPassword" outlined>
                                            <!--
                                            :rules="[rules.required, rules.min]"
                                            name="input-10-1"
                                            -->
                                        </v-text-field>
                                        
                                    </v-col>
                                </v-row>
                                <v-row>
                                    <v-col>
                                        <v-row justify="center">
                                            <v-btn v-on:click="signIn()" color="light-blue">Sign In</v-btn>
                                        </v-row>
                                        
                                    </v-col>
                                    <v-col>
                                        <v-row justify="center">
                                            <v-btn v-on:click="signUp()" color="deep-purple">Create Account</v-btn>
                                        </v-row>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-form>


                        <v-container fluid class="maingame-container" v-if="signedIn">
                            <v-row>
                                <div id="main-game" v-if="joined">
                                    <span>Game ID: <b>{{ currentGameId }}</b></span>
                                    <br>
                                    <v-progress-circular
                                        indeterminate
                                        color="primary"
                                        v-if="waitingForPlayers"
                                        >
                                    </v-progress-circular>
                                    <span>{{ status }} <img v-if="activeTile"  v-bind:src="'res/' + activeTile + '.png'"></img></span>
                                    <h2>Player Order: </h2>
                                    <v-row>
                                            <v-card
                                            
                                            class="mx-auto my-6"
                                            max-width="800"
                                            v-for="player in players"
                                        >
                                            <v-progress-linear
                                                indeterminate
                                                v-bind:id="player.username + '-statusbar'"
                                                v-bind:color="player.statusColor || 'gray'"
                                                v-if="player.username == username"
                                                height="10"
                                            ></v-progress-linear>
                                            <v-progress-linear
                                                v-bind:id="player.username + '-statusbar'"
                                                v-bind:color="player.statusColor || 'gray'"
                                                v-if="player.username != username"
                                                value="100"
                                                height="10"
                                            ></v-progress-linear>

                                            <v-card-title>{{player.username}}</v-card-title>

                                            <v-card-text>
                                                <h3>
                                                    Visible Tiles
                                                </h3>
                                                <span v-for="set in player.visibleTiles">
                                                    <img v-for="tile in set" v-bind:src="'res/' + tile + '.png'">
                                                </span>

                                            </v-card-text>

                                            <v-divider class="mx-4"></v-divider>

                                            <!-- <v-card-title></v-card-title> -->

                                            <v-card-text>
                                                <h3>
                                                    Discarded Tiles
                                                </h3>
                                                <span v-for="tile in player.discardedTiles">
                                                    <img v-bind:src="'res/' + tile + '.png'">
                                                </span>
                                                <!-- <v-chip-group
                                                    v-model="selection"
                                                    active-class="deep-purple accent-4 white--text"
                                                    column
                                                >
                                                    <v-chip></v-chip>
                                                </v-chip-group> -->
                                            </v-card-text>

                                            <!-- <v-card-actions>
                                            <v-btn
                                                color="deep-purple lighten-2"
                                                text
                                                @click="reserve"
                                            >
                                                Reserve
                                            </v-btn>
                                            </v-card-actions> -->
                                        </v-card>
                                    </v-row>
                                    <v-row>
                                        <h2>
                                            Your Hand
                                        </h2>
                                        <draggable v-model="myTiles" group="people" @start="drag=true" @end="drag=false" @change="updateTileOrder()">
                                            <img v-for="tile in myTiles" v-bind:src="'res/' + tile + '.png'" v-on:click="clickTile(tile)">
                                            <!-- <v-btn slot="footer" @click="saveTilePositions()">Save Tile Position</v-btn> -->
                                        </draggable>
                                    </v-row>
                                    <v-row>
                                        <h2>
                                            Actively Selected Tiles
                                        </h2>
                                        <img v-for="tile in activeTiles" v-bind:src="'res/' + tile + '.png'" v-on:click="deselectTile(tile)">
    
                                        <div v-if="inCheckPhase && waitingForYourCheck">
                                            <v-btn v-on:click="sendEvent('Win')" v-if="winnable">
                                                Win (胡) literally win the game
                                            </v-btn>
                                            <v-btn v-on:click="sendEvent('Gang')" v-if="gangable">
                                                Gang (杠) Four of a kind
                                            </v-btn>
                                            <v-btn v-on:click="sendEvent('Match')" v-if="matchable">
                                                Match (碰) Three of a kind
                                            </v-btn>
                                            <v-btn v-on:click="sendEvent('Eat', activeTiles)" v-if="eatable">
                                                Eat (吃) Straight (can only eat person directly upstream of you)
                                            </v-btn>
                                            <v-btn v-on:click="sendEvent('Pass')">
                                                Pass (Do Nothing)
                                            </v-btn>
                                        </div>
                                    </v-row>
                                </div>
                            </v-row>

                            <v-container class="width25" v-if="!joined">
                                <v-row justify="center" class="createGameRow">
                                    <v-btn v-on:click="createGame()"
                                        color="orange"
                                    >
                                    Create Game</v-btn>
                                </v-row>
                                <v-row justify="center" >
                                    <v-text-field label="Join via GameID"
                                        v-model="joinGameInputField"
                                        outlined
                                        @keyup.enter="joinGame()"
                                        >
                                        <v-icon
                                            slot="append"
                                            color="orange"
                                            v-on:click="joinGame()"
                                        >
                                        play_arrow
                                        </v-icon>
                                    </v-text-field>
                                </v-row>
                            </v-container>
                            
                            
                        </v-container>

                        <v-row justify="center">
                            <v-dialog
                                v-model="gameOver"
                                persistent
                                max-width="800"
                            >
                                <v-card>
                                    <v-card-title class="headline">
                                        you are {{stateOfGame}}!!!
                                    </v-card-title>
                                    <span v-for="set in winningHand">
                                        <img v-for="tile in set" v-bind:src="'res/' + tile + '.png'">
                                    </span>
                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn
                                        color="green darken-1"
                                        text
                                        @click="exitGame()"
                                        >
                                        Exit Game
                                        </v-btn>
                                        <v-btn
                                        color="green darken-1"
                                        text
                                        @click=""
                                        >
                                        DONT CLICK THIS
                                        </v-btn>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                          </v-row>

                    </div>
                </v-main>
            </v-app>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.24.3/vuedraggable.umd.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
        <script src="index.js"></script>
    </body>
</html>
