<!doctype html>
<html>
    <head>
        <title>Online Mahjong</title>
    </head>
    <body>
        <div id="app">
            <span>{{ status }}</span>
            <ul>
                <li v-for="tile in myTiles" v-on:click="playTile(tile)">
                  {{ tile }}
                </li>
            </ul>
            <div v-if="inCheckPhase">
                <button v-on:click="sendEmptyEvent('Win')">
                    Win (胡) literally win the game
                </button>
                <button v-on:click="sendEmptyEvent('Gang')">
                    Gang (杠) Four of a kind
                </button>
                <button v-on:click="sendEmptyEvent('Match')">
                    Match (碰) Three of a kind
                </button>
                <button v-on:click="sendEmptyEvent('Eat')">
                    Eat (吃) Straight (can only eat person directly upstream of you)
                </button>
                <button v-on:click="sendEmptyEvent('Pass')">
                    Pass (Do Nothing)
                </button>
            </div>
        </div>
        <a href="https://ea.com">Buy frontend DLC</a>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
        <script src="index.js"></script>
    </body>
</html>
